<div class="status-info">
    <table>
        <tbody>
            <tr>
                <td>Instance Id:</td>
                <td>{{instanceId}}</td>
            </tr>

            <tr>
                <td>IP Address:</td>
                <td>{{ip}}</td>
            </tr>

            <tr>
                <td>MAC Address:</td>
                <td>{{mac}}</td>
            </tr>

            <tr>
                <td>Hostname:</td>
                <td>{{hostname}}</td>
            </tr>

            <tr>
                <td>VPC Id:</td>
                <td>{{vpc.vpcId}}</td>
            </tr>

            <tr>
                <td>VPC CIDR Block:</td>
                <td>{{vpc.vpcBlock}}</td>
            </tr>

            <tr>
                <td>Subnet Id:</td>
                <td>{{vpc.subnetId}}</td>
            </tr>

            <tr>
                <td>Subnet CIDR Block:</td>
                <td>{{vpc.subnetBlock}}</td>
            </tr>
        </tbody>
    </table>
</div>